h1,h2,h3,h4,h5,h6 {
    font-family: 'Open Sans', sans-serif;
}

/* Container*/
.flip-card {
    background-color: transparent;
    width: 350px;
    height: 350px;
    /*border: 2px solid #f1f1f1;*/
    /*perspective: 1000px; /* 3d effekt*/
}

/* front & backside position */
.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

/* flip */
.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
}

/* front side (fallback if image is missing) */
.flip-card-front {
    background-color: #bbb;
    color: black;
}

/* back side */
.flip-card-back {
    background-color: cadetblue;
    color: white;
    transform: rotateY(180deg);
}

/* Centered text */
.centered {
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.imgfit{
    width: 100%;
    object-fit: cover;
    height: 100%;
}
